.cards-column {
  padding-top: 40px;
  position: absolute;
  top: 0;
  right: 180px;
  bottom: 0;
  width: 245px;
}

.cards-column.empty {
  display: grid;
  align-items: center;
  justify-content: center;
}
