.card {
  background: white;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 8px;
  overflow: hidden;
  padding: 12px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.card.open {
  height: 260px;
  box-shadow: 0px 4px 24px #e5ebf5;
}

.card.closed .inner {
  opacity: 0;
  transition: 100ms;
}

.card.open .inner {
  opacity: 1;
  transition: 100ms;
}

.card.closed {
  height: 48px;
  cursor: pointer;
  box-shadow: 0px 2px 8px #eff0f2;
}

.card.exited {
  height: 0px;
  padding: 0;
  margin-bottom: 0px;
  transform: scale(0.9);
}

/* BUTTON */
button {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  background: #d0fbee;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 2px 6px;
  transition: 100ms;
}

button:hover {
  background: #a9f9e1;
}
